/* default React App styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* PPGApp styles start here */

/* colour variables */

:root {
  /* main background and text colours */
  --dark-main: rgb(22, 22, 29);
  --light-main: rgb(230, 230, 230);
  --button-background: rgb(255, 97, 254);
}

/* general styles and stripping styles */

html {
  /* 1rem set to measure 10px */
  font-size: 62.5%;
}

body,
button {
  font-family: 'Overpass Mono', monospace;
}

body {
  background: var(--dark-main);
}

.wrapper {
  max-width: 740px;
  width: 94%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
button,
ul,
li {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
.make-pixel-art {
  color: var(--dark-main);
}

h1,
h2,
h4,
.make-pixel-art {
  font-weight: 700;
}

h1,
h3,
p {
  text-align: left;
}

h1,
li,
h4 {
   background: var(--light-main);
}


/* header styles */

header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

h1 {
  display: inline-block;

  max-width: 220px;
  width: 45%;
  padding: 6px 0 3px 2px;
  border-bottom-right-radius: 6px;

  font-size: 3.2rem;
  line-height: 0.95;
}

/* button that displays pixel art maker module to user */
.make-pixel-art {
  position: fixed;
  top: 15px;
  right: 10px;

  min-width: 100px;
  max-width: 150px;
  width: 32%;
  height: 75px;
  padding: 6px 8px 2px;

  background: var(--button-background);
  font-size: 2.2rem;
  line-height: 1;

  transition: all 0.25s ease;
}

.make-pixel-art:hover,
.make-pixel-art:focus {
  top: 10px;
  right: 5px;

  width: 34%;
  height: 85px;
}

.make-pixel-art:active {
  top: 18px;
  right: 10px;

  width: 32%;
  height: 75px;
}

.make-pixel-art,
li {
  border-radius: 12px;
}

/* main and pixel art card styles */

/* container in which all generated database info / art is displayed */
li {
  height: 400px;
  max-width: 302px;
  margin: 20px auto;
}

h2 {
  padding: 12px 0;
  font-size: 2.8rem;
  text-align: center;
}

/* generated pixel art is displayed as an array of <div>s in here */
.art-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 12px;
  border: 1px solid var(--dark-main);
}

.pixel:nth-child(4n) {
  background: blue;
}

h3 {
  margin-left: 25px;
  margin-bottom: 5px;

  font-size: 2.2rem;
  font-weight: 400;
}


/* pixel art maker styles  */


/* footer styles */

h4 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  
  font-size: 2.4rem;
  line-height: 1.2;

  transform: rotate(-2deg);
}


/* media queries */
