/* setup snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* default React App styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* PPGApp styles start here */

/* colour variables */

:root {
  /* main background and text colours */
  --dark-main: rgb(22, 22, 29);
  --light-main: rgb(230, 230, 230);
  --button-background: rgb(255, 97, 254);
}

/* general styles and stripping styles */

html {
  /* 1rem set to measure 10px */
  font-size: 62.5%;
}

body,
button {
  font-family: 'Overpass Mono', monospace;
}

body {
  background: var(--dark-main);
}

.wrapper {
  max-width: 800px;
  width: 94%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
fieldset,
button,
ul,
li {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
.make-pixel-art,
.publish,
.fas {
  color: var(--dark-main);
}

h1,
h2,
h4,
.make-pixel-art,
.publish {
  font-weight: 700;
}

h1,
h3,
p {
  text-align: left;
}

h1,
li,
h4,
.cancelPixelArt {
   background: var(--light-main);
}


/* header styles */

header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

h1 {
  display: inline-block;

  max-width: 220px;
  width: 45%;
  padding: 6px 0 3px 2px;
  border-bottom-right-radius: 6px;

  font-size: 3.2rem;
  line-height: 0.95;
}

/* button that displays pixel art maker module to user */
.make-pixel-art {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 2;

  min-width: 100px;
  max-width: 150px;
  width: 32%;
  height: 75px;
  padding: 6px 8px 2px;

  background: var(--button-background);
  font-size: 2.2rem;
  line-height: 1;

  transition: all 0.25s ease;
}

.publish {
  position: absolute;
  bottom: 20px;
  right: 8px;

  min-width: 100px;
  max-width: 200px;
  width: 35%;
  height: 65px;
  padding: 8px;

  background: var(--button-background);
  font-size: 2.2rem;

  transition: all 0.05s ease-out;
}

.publish:hover,
.publish:focus {
  background: var(--dark-main);
  color: var(--button-background);
}

.publish:active {
  bottom: 15px;
  right: 7px;
}

.make-pixel-art:hover,
.make-pixel-art:focus {
  top: 10px;
  right: 5px;

  width: 34%;
  height: 85px;
}

.make-pixel-art:active {
  top: 18px;
  right: 10px;

  width: 32%;
  height: 75px;
}

.make-pixel-art,
.publish,
input[type=text],
li {
  border-radius: 12px;
}

/* container in which all generated database info / art is displayed */

.section-2 {
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  height: 390px;
  max-width: 320px;
  margin: 20px;
  padding: 5px 30px;
}

h2 {
  padding: 12px 0;
  font-size: 2.8rem;
  text-align: center;
}

/* generated pixel art is displayed as an array of <div>s in here */
.art-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 12px;
  border: 1px solid var(--dark-main);
}

.pixel:nth-child(4n) {
  background: blue;
}

h3 {
  margin-bottom: 5px;

  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
}

/* main and pixel art card styles */

main {
  position: relative;
}

/* pixel art maker styles  */
.section1 {
  height: 100vh;
  width: 100vw;
  max-width: 1480px;
  max-height: 1000px;

  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 3;

  background: var(--light-main);

  transition: all 0.3s ease-in;
}

.cancelPixelArt {
  position: absolute;
  top: 5px;
  right: 10px;

  height: 50px;

  font-size: 5.5rem;

  transition: all 0.1s ease-in;
}

.cancelPixelArt .fas:hover,
.cancelPixelArt .fas:focus {
  color: var(--button-background);
}

.cancelPixelArt:active {
  top: 10px;
}

.artMaker {
  width: 300px;
  height: 300px;

  margin-top: 20px;
}

.buttonPixel {
  background: #fff;
  border: 0.3px dotted var(--dark-main);
}

fieldset {
  display: flex;
  justify-content: space-around;
}

.radioContainer {
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  max-width: 580px
}

.radioLabel {
  width: calc(100% / 5 - 20px);
  height: 30px;
  margin: 5px 10px;
  border: 3px solid inherit;
  background: inherit;
}

.inputContainer {
  width: 55%;

  position: absolute;
  bottom: 10px;
  left: 10px;

  display: flex;
  flex-wrap: wrap;
  
}

input[type=text] {
  width: 100%;
  margin-top: 20px;
  border: 2px solid var(--dark-main);

  font-size: 2.2rem;
}


/* footer styles */

h4 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  
  font-size: 2.4rem;
  line-height: 1.2;

  transform: rotate(-2deg);
}


/* media queries */

@media (min-width: 600px) {
  .artMaker {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 4.5rem;
    padding: 12px 0 6px 4px;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .artMaker {
    width: 500px;
    height: 500px;
  }

  .radioContainer {
    width: 70%;
  }

  .wrapper {
    max-width: 1200px;
    width: 90%;
  }
}
